* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#contactme {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}


#navbar {
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#navbar a {
    text-decoration: none;
}

#logo {
    font-size: 45px;
    color: white;
    /* background-image: url(img.jpg/OIP\ \(6\).jpg);
background-size: cover;
background-position: center;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
text-shadow:   0px 0px 10px cyan , 
0px 0px 20px cyan ,
0px 0px 40px cyan ,
0px 0px 80px cyan;

}



#navli {
    display: flex;
    align-items: center;
}

#navli li {
    margin-right: 25px;
    list-style-type: none;
    font-size: 30px;
    color: white;
    text-shadow:   0px 0px 10px cyan , 
    0px 0px 20px cyan ,
  0px 0px 40px cyan ,
  0px 0px 80px cyan;
  /* border: 1.5px #00ffff transparent; */
}
#navli li:hover {
    /* border: 1.5px #00FFFF solid; */
    font-size:40px ;
}



.contact-form {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}
